.idea
.idea/*
./.idea/*
bazel*/*
./bazel-*
bazel-**/*
./bazel*/*
bazel-bin/
bazel-genfiles/
bazel-out/
bazel*
.DS_Store
./.DS_Store
./cmake-*/**
cmake-build-debug/
./cmake-build-debug/**/*

sendFile.txt
./sendFile.txt
